@(message: String, style: String = "form")

@defining(play.core.PlayVersion.current) { version =>

<link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css">

<section id="top">
    <div class="wrapper">
        <h1><a href="http://localhost:9000">@message</a></h1>
    </div>
</section>

<div id="content" class="wrapper doc">
    <article>

        <h1>Welcome to Play</h1>

        <form action="@routes.HomeController.addPerson()" method="post">
            <p>Name</p>
            <input name="name" type="text">
            <br>
            <p>Surname</p>
            <input name="surname" type="text">
            <br>
            <p>Hit</p>
            <input name="hit" type="text">
            <br>
            <button>Add Person</button>

        </form>

    </article>

    <aside>
        <h3>Browse</h3>
       <table border="1" >
           <tr>
               <td>Name<td/>
           </tr>
           <tr>
               <td>Surname<td/>
           </tr>
           <tr>
               <td>Hit<td/>
           </tr>
       </table>

    </aside>

</div>
}