@(message: String, style: String = "form")

@defining(play.core.PlayVersion.current) { version =>

<link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css">

<section id="top">
    <div class="wrapper">
        <h1><a href="http://localhost:9000">@message</a></h1>
    </div>
</section>

<div id="content" class="wrapper doc">
    <article>

        <h1>Enter new artist:</h1>

        <form action="@routes.HomeController.createPerson()" method="post">
            <p>Name</p>
            <input name="name" type="text" id="name">
            <br>
            <p>Surname</p>
            <input name="surname" type="text" id="surname">
            <br>
            <p>Hit</p>
            <input name="hit" type="text" id="hit">
            <br>
            <br>
            <button onclick="return putIn()">Add Person</button>

        </form>
        <br>
        <br>
        <br>
        <h3>Browse Artists: </h3>
        <table border="1" id="tableWithAll">

        </table>

    </article>

    <div id="dialog" title="Modify artist">
        <p>Name</p>
        <input name="name" type="text" id="Dname">
        <br>
        <p>Surname</p>
        <input name="surname" type="text" id="Dsurname">
        <br>
        <p>Hit</p>
        <input name="hit" type="text" id="Dhit">
        <br>
        <br>
        <button id="dialogModify">Save</button>
    </div>

</div>
}